<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="text-align: left">Green Land</mat-card-title>
    <mat-card-subtitle style="text-align: left">Glamping</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image  src="../../assets/Domo.png" alt="Foto Glamping">
  <mat-card-content>
    <p style="text-align: justify">
      Glamping o glamorous camping es un creciente fenómeno global que combina la experiencia de acampar al aire libre
      con el lujo y las condiciones propias de los mejores hoteles. El término, acuñado a finales del siglo XIX, es una
      fusión de las palabras glamour y camping.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button onclick="location.href='https://www.youtube.com/watch?v=6n0Y7s3H2nE'">VIDEO</button>
  </mat-card-actions>
</mat-card>

